*{
    margin: 0;
    padding: 0;
}
#dv1{
    background-color: slategray;
    width: 100%;
    height: 620px;
}
#btn{
    width: 170px;
    height: 30px;
    
}
#dv2{
    padding-top: 6em;
    padding-left: 30em;
}